<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pick your car:</h1>
    <%- include('radio', locals.car ) %>  
    <form method="POST">
        Wartość z ciastka: <%= cookieValue %>
        <button>Zapisz</button>
    </form>
    <form method="POST">
        Wartość z session: <%= sessionValue %>
        <button>Zapisz</button>
    </form>
</body>
</html>